.profile{
    background-color: rgba(240, 248, 255, 0.744);
}

#pro_img{
    width: 55px;
    height: 70px;
    border-radius: 50%;
    margin-left: 5px;
}
.pro_details h5{
   margin-bottom: 1px;
   margin-top: 5px;
}