/* body {
    background: rgb(2, 0, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(30, 54, 59, 1) 0%,
      rgba(93, 93, 116, 1) 100%
    );
  } */
  
  .main_container {
    /* position: absolute; */
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 300px;
    width: 100%;
    margin: auto;
  }
  .field{
    display: flex;
    flex-direction: column;
  }
  .field input{
   
  }
  .main_container > form {
    width: 100%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
  }
  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }
  
  button {
    /* background: #0563b4 !important; */
  }
  p {
    color: rgb(120, 113, 113);
    margin-top: 1px;
  }

  .field label{
     color: rgb(112, 42, 241);
  }